<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://demo.opencart.com" />
		<add key="Browser" value="Chrome" />
		<add key="ImplicitWait" value="10" />
		<add key="PageLoadTimeout" value="30" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="OpencartDB"
			 connectionString="Server=PF2FJPB3\SW_SQLSERVER;Database=OpencartDB;User Id=sa;Password=Install_new!;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>